services:
  nginx-dev:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - minio
      - ollama
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "nginx", "-t"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  backend:
    build:
      context: . # Dockerfile location
      dockerfile: Dockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - DEBUG=1
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    networks:
      - app_network
    depends_on:
      - db
      - redis
      - minio
      - ollama

    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    pull_policy: always
    ports:
      - "11435:11434"
    env_file:
      - .env
    environment:
      - LLM_MODEL=${LLM_MODEL}
      - OLLAMA_HOST=${OLLAMA_HOST}
    volumes:
      - ./ollama_models:/root/.ollama
    networks:
      - app_network
    restart: unless-stopped
    entrypoint: [ "/bin/sh", "-c", "\
      ollama serve & \
      sleep 10 && \
      ollama pull $LLM_MODEL && \
      wait" ]

    healthcheck:
      test: [ "CMD", "curl", "-f", "http://host.docker.internal:11434/api/tags" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  db:
    image: pgvector/pgvector:pg17-trixie
    container_name: db
    environment:
      - POSTGRES_USER= ${POSTGRES_USER}
      - POSTGRES_PASSWORD= ${POSTGRES_PASSWORD}
      - POSTGRES_DB= ${POSTGRES_DB}
      - TZ=Asia/Ho_Chi_Minh
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - psql_data:/var/lib/postgresql/data
    networks:
      - app_network

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    environment:
      - MINIO_ROOT_USER=${MINIO_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${MINIO_SECRET_KEY}
    volumes:
      - minio_data:/data
    command: server --console-address ":9001" /data
    networks:
      - app_network

  redis:
    image: redis:8.2.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
     - ./:/app/
    command:
      - redis-server
    networks:
      - app_network

volumes:
  psql_data:
  minio_data:

networks:
  app_network:
    driver: bridge